<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserDao">

	<insert id="insert" parameterType="user">
		INSERT INTO USERS VALUES (#{email},#{pwd},#{name}, 'N')
	</insert>

	<update id="update" parameterType="user">
		UPDATE USERS SET PWD=#{pwd}, NAME=#{name} WHERE EMAIL=#{email}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM USERS WHERE EMAIL=#{k}
	</delete>

	<select id="select" parameterType="String" resultType="user">
		SELECT * FROM USERS WHERE EMAIL=#{k}
	</select>

	<select id="selectall" resultType="user">
		SELECT * FROM USERS 
	</select>

	<select id="selectall_count" resultType="String">
		SELECT COUNT(*) FROM USERS
	</select>
	
	<update id="updateAdminForm" parameterType="user">
		UPDATE USERS SET PWD=#{pwd}, NAME=#{name}, ADMIN_YN=#{admin_yn} WHERE EMAIL=#{email}
	</update>
</mapper>

